* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
}

span {
    font-size: 3em;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

span:hover {
    color: rgb(126, 19, 126);
    cursor: pointer;
}

#icon {
    position: absolute;
    top: 23px;
    right: 44px;
    color: white;
}

#icon svg {
    height: 55px;
    width: 55px;
}

#icon:hover {
    color: black;
    cursor: pointer;
}

#container {
    height: 100vh;
    width: 20%;
    background-color: rgb(164 236 88 / 86%);
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#box {
    background-color: white;
    z-index: 2;
    height: 80%;
    margin-bottom: 5em;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cross {
    position: absolute;
    top: 3vh;
    right: 1.5vw;
    height: 1vh;
    width: 2vw;
    font-size: 2em;
    color: rgb(164 236 88 / 86%);
}

#cross:hover {
    color: black;
    cursor: pointer;
}

#navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    width: 100%;
}

#navList p {
    font-size: 1.7em;
    font-family: 'Cormorant Garamond', serif;
    margin: 0em 0;
    padding: 0.5em 0em;
    width: 100%;
    text-align: center;
    color: rgba(44, 73, 13, 0.86);
}

#navList p:hover {
    background-color: rgb(164 236 88 / 86%);
    color: black;
    cursor: pointer;
}

nav::before {
    content: '';
    background-color: rgb(161, 243, 74);
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    opacity: 0.7;
}

section {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3em;
}

#heading {
    font-size: 2.7em;
    margin-bottom: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(126, 19, 126);
}

#contact {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   row-gap: 1em;
}

#condiv {
    width: 90%;
    padding: 1.6em 0.5em;
    margin-top: 1em;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}

#condiv h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
    font-family: 'Dancing Script', cursive;
    color: rgb(126, 19, 126);
}

footer {
    position: relative;
    top: 120px;
    width: 100%;
    text-align: center;
    background-color: rgb(71, 92, 36);
    padding: 10px 0;
    font-size: 1.1em;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: white;
}

footer:hover {
    background-color: rgb(33, 49, 6);
}