* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
}

span {
    font-size: 3em;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

span:hover {
    color: rgb(126, 19, 126);
    cursor: pointer;
}

#icon {
    position: absolute;
    top: 23px;
    right: 44px;
    color: white;
}

#icon svg {
    height: 55px;
    width: 55px;
}

#icon:hover {
    color: black;
    cursor: pointer;
}

#container {
    height: 100vh;
    width: 20%;
    background-color: rgb(164 236 88 / 86%);
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#box {
    background-color: white;
    z-index: 1;
    height: 80%;
    margin-bottom: 5em;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cross {
    position: absolute;
    top: 3vh;
    right: 1.5vw;
    height: 1vh;
    width: 2vw;
    font-size: 2em;
    color: rgb(164 236 88 / 86%);
}

#cross:hover {
    color: black;
    cursor: pointer;
}

#navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    width: 100%;
}

#navList p {
    font-size: 1.7em;
    font-family: 'Cormorant Garamond', serif;
    margin: 0em 0;
    padding: 0.5em 0em;
    width: 100%;
    text-align: center;
    color: rgba(44, 73, 13, 0.86);
}

#navList p:hover {
    background-color: rgb(164 236 88 / 86%);
    color: black;
    cursor: pointer;
}

ul {
    list-style: none;
    display: inline-block;
    position: relative; 
    left: 1em;
    top: 27px;
}

li {
    list-style: none;
    display: inline-block;
}

nav::before {
    content: '';
    background-color: rgb(161, 243, 74);
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    opacity: 0.7;
}

#home::before {
    content: ' ';
    background: url('../img/homebg.jpg') center center/cover no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   height: 800px;
   width: 100%;
   z-index: -1;
   opacity: 0.7;
}

#home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin-top: 7.4em;
}

#home p {
    font-size: 3.5em;
    padding-bottom: 0.2em;
}

#fi {
    font-family: cursive;
}

#se {
font-weight: bolder;
font-family: cursive;
}

#th {
    font-family: 'Abel', sans-serif;
}

#fo {
    font-weight: bolder;
    font-family: 'Lobster', cursive;
}

#fif {
    font-family: 'Lavishly Yours', cursive;
}

#la {
    font-weight: bolder;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#location {
    position: relative;
    top: 160px;
    display: flex;
    justify-content: center;
}

#visit {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.p2 {
  padding-bottom: 0.8em;
  font-size: 1.4em;
}

.p1{
    font-size: 1.4em;
    padding-bottom: 0.1em;
    font-family: cursive;
}

#address {
    color: rgb(71, 92, 36);
    margin: 1.5em;
    font-size: 1.2em;
    text-decoration: none;
    font-family: cursive;
}

#visit h1 {
    font-size: 4em;
    margin-bottom: 0.1em;
    color: rgb(126, 19, 126);
    font-family: 'Dancing Script', cursive;
}

#con {
    text-decoration: none;
    color: white;
    background-color: rgb(71, 92, 36);
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin-top: 1em;
}

#con:hover {
    background-color: rgb(33, 49, 6);
}

#location img {
    width: 50%;
}

#menustitle::before {
    content: ' ';
    background: url('../img/menu.jpg') center center/cover no-repeat;
   position: absolute;
   top: 0px;
   left: 0;
   height: 500px;
   width: 100%;
   z-index: -1;
   opacity: 1;
}

#menustitle {
    position: relative;
    top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#menustitle h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.539);
    opacity: 0.8;
    border: 4px solid rgb(130, 6, 6);
    padding: 1em 2em;
    font-size: 2.5em;
}

#menustitle h1:hover {
    color: rgb(161, 243, 74);
    cursor: pointer;
}

#menu {
    position: relative;
    top: 220px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu div {
    width: 70%;
}

#menutext h1 {
    font-size: 2.5em;
    padding-bottom: 0.7em;
    font-family: 'Dancing Script', cursive;
    color: rgb(126, 19, 126);
}

#menutext p {
    padding-bottom: 1.5em;
    font-size: 1.3em;
    font-family: cursive;
}

#menubtns {
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    row-gap: 3em;
    column-gap: 3em;
    justify-content: center;
    margin-bottom: 5em;
} 

#menubtns a {
    text-decoration: none;
    color: white;
    background-color: rgb(71, 92, 36);
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    padding: 0.5em 1em;
}

#menubtns a:hover {
    background-color: rgb(33, 49, 6);
    cursor: pointer;
}

#abouttitle::before {
    content: ' ';
    background: url('../img/about.jpg') center center/cover no-repeat;
   position: absolute;
   top: 0px;
   left: 0;
   height: 500px;
   width: 100%;
   z-index: -1;
   opacity: 0.85;
}

#abouttitle {
    position: relative;
    top: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#abouttitle h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.539);
    opacity: 0.8;
    border: 4px solid rgb(130, 6, 6);
    padding: 1em 2em;
    font-size: 2.5em;
}

#abouttitle h1:hover {
    color: rgb(161, 243, 74);
    cursor: pointer;
}

#about {
    position: relative;
    top: 270px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about div {
    width: 70%;
}

#abouttext h1 {
    font-size: 2.5em;
    padding-bottom: 0.7em;
    font-family: 'Dancing Script', cursive;
    color: rgb(126, 19, 126);
}

#abouttext p {
    padding-bottom: 1.5em;
    font-size: 1.3em;
    font-family: cursive;
}

#about a {
text-decoration: none;
color: white;
background-color: rgb(71, 92, 36);
font-family: 'Cormorant Garamond', serif;
font-size: 1.5em;
padding: 0.5em 1em;
margin-bottom: 4em;
}

#about a:hover {
    background-color: rgb(33, 49, 6);
    cursor: pointer;
}

footer {
    position: relative;
    top: 250px;
    text-align: center;
    background-color: rgb(71, 92, 36);
    padding: 10px 0;
    font-size: 1.1em;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: white;
}

footer:hover {
    background-color: rgb(33, 49, 6);
}
